#nav-bar {
  display: flex;
  justify-content:flex-start;
  gap: 50px;
  align-items: center;
  padding: 16px 32px;
  font-size: 24px;
  color: #fafafa;
  border-bottom: 4px solid #e2b111;
  background-color: rgb(0, 0, 0);
}

#nav-bar a {
  color: #ffffff;
  text-decoration: none; 
}


#search-bar {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#article
{
  display:flex;
  flex-direction: column;
  justify-items: center;
}
.results-layout {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 0 20px;
  align-items: stretch;
}

.left-container {
  width: 200px;
  display: flex;
}

.right-container {
  flex: 1;
}

.watchlistBtn {
  width: 100%;
  padding: 12px;
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  height: 100px;
}

.watchlistBtn:hover {
  background-color: deepskyblue;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  margin-top: 20px;
  gap: 20px;
}

.result-card {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background: white;
}

.result-image {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.result-info h2 {
  font-size: 16px;
  margin: 0 0 5px 0;
}

#addBtn {
  background-color: lightgreen;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.2s ease;
}

#addBtn:hover {
  background-color: green;
  color: white;
}


body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
}


.Home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2rem;

  background: solid black;
  color: rgb(0, 0, 0); 
}


.Home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  background: linear-gradient(90deg, #ffcc70, #ff8177);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home p {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  opacity: 0.9;
}


.Home h1,
.Home p {
  animation: fadeIn 1.2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

